/* css reset */
html,body,ul,li,table,p,h1,h2,h3,h4,h5,dl,dt,dd,img,input,textarea,select,th,td,label{margin: 0; padding: 0;}
body{background-color: #f5f5f5; color: #3f3f3f; font-size: 14px; font-family: "microsoft yahei";}
ul,li{list-style: none;}
a{text-decoration: none; color: #3f3f3f;}
a,img{border: none;}
table{border-collapse: collapse; border-spacing: 0; width: 100%; text-align: left;}
input[type="text"]{width: 220px; }

/* 对齐 */
.fl{ float:left !important;  }
.fr{ float:right !important;  }
.tc{ text-align:center;  }
.tl{text-align: left;}
.tr{ text-align:right;  }

/* 边距 */
.p20{padding: 20px;} 
.m20{margin: 20px;}
.pt20{padding-top: 20px;}
.ml10{margin-left: 10px;} 
.ml20{margin-left: 20px;} 
.ml30{margin-left: 30px;} 
.ml70{margin-left: 70px;}
.ml100{margin-left: 100px;}
.ml200{margin-left: 200px;}
.ml300{margin-left: 300px;}
.mt10{margin-top: 10px;}
.mt30{margin-top: 30px;}
.mt45{margin-top: 45px;}
.mt60{margin-top: 60px;}
.mb10{margin-bottom: 10px;} 
.mb20{margin-bottom: 20px;}

/* 宽高度 */
.w100{width: 100px;}
.h100{height: 100px;}
.w200{width: 200px;}
.h200{height: 200px;}
.w250{width: 250px;}
.h250{height: 250px;}

/*背景色*/
.bgc{background-color:#aaaaaa;}
.body_bg{background-color:#fefefe;}


/* 边框 */
.bd{border:1px solid #bbb;}

/* 字体与颜色 */
.blue{color: #38a0eb;} 
.f22{font-size: 22px;} 
.gray{color: #999999;} 
.red{color: #ff2626}

/* header */
.header{height: 100px; border-bottom: solid 1px #ededed; background: #fff;}
.header_con{max-width: 1200px; margin: 0 auto;}
.logo{float: left;}
.main_nav{float: right; margin-top: 25px;}
.main_nav li{float: left; padding: 0 20px;}
.main_nav a{font-size: 18px; display: block; padding: 10px;}
.main_nav .current a{border-bottom: solid 2px #38a0eb;}

/* main */
.main{max-width: 1200px; margin: 0 auto;}

/* sidebar */
.sidebar{float: left; width: 220px;}
.side_nav{margin-top: 30px;}
.side_nav .main_item{ padding-left: 20px; font-size: 16px; height: 40px; line-height: 40px;}
.sub_nav li{margin-bottom: 5px;}
.sub_nav a{ display: block; height: 30px; line-height: 30px; padding-left:40px;}
.sub_nav a:hover{background: #f1f1f1;}
.sub_nav .current a{ border-left: solid 2px #38a0eb; padding-left: 38px; background: #ededed;}

/* primary */
.primary{min-height: 500px; margin-left: 220px; padding:30px 20px 20px 20px; background: #fefefe;}
.frame{min-height: 600px}

.comps_header{ padding-bottom: 10px;border-bottom: solid 1px #ededed;}
.comps_header .comps_name{ font-size: 24px; font-weight: normal;color: #222222;}
.comps_name small{ font-family: verdana; font-size: 12px; padding-left: 30px; color: #777777;}
.comps_header p{margin-top: 10px;}

.comps_summary{margin:50px 0;}
.comps_summary h3{ font-size: 22px;font-weight: normal; color: #222222;}

.detail_content{margin-bottom: 20px;}
.detail_content h4,.detail_content h5{ margin-bottom: 10px;font-size: 22px; font-weight: normal; color: #222222;}
.detail_content h5{font-size: 18px;}
.param_table_box{border-top: solid 2px #38a0eb;}
.param_table th{background: #f5f5f5;}
.param_table th,.param_table td{ min-width: 80px;border:solid 1px #ededed; padding:7px 7px 7px 10px;}
pre.prettyprint{background-color: #f6f6f6;padding: 10px 5px 20px 5px !important;border: none !important; font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;line-height: 140%;overflow-x: auto;overflow-y: hidden;}
pre li{list-style-type: decimal;border-left: solid 2px #4C8800;padding-left: 10px;}

/* footer */
.footer{clear: both;}













