/* css reset */
html,body,ul,li,table,p,h1,h2,h3,h4,h5,dl,dt,dd,img,input,textarea,select,th,td,label{margin: 0; padding: 0;}
body{background-color: #f5f5f5; color: #3f3f3f; font-size: 14px; font-family: "microsoft yahei"; padding-left:240px;}
ul,li{list-style: none;}
a{text-decoration: none; cursor:pointer; }
a,img{border: none;}
table{border-collapse: collapse; border-spacing: 0; width: 100%; text-align: left;}
input[type="text"]{width: 220px; }

/* 对齐 */
.fl{ float:left !important;  }
.fr{ float:right !important;  }
.tc{ text-align:center;  }
.tl{text-align: left;}
.tr{ text-align:right;  }

/* 边距 */
.p20{padding: 20px;} 
.m20{margin: 20px;}
.pt20{padding-top: 20px;}
.ml10{margin-left: 10px;} 
.ml20{margin-left: 20px;} 
.ml30{margin-left: 30px;} 
.ml70{margin-left: 70px;}
.ml100{margin-left: 100px;}
.ml200{margin-left: 200px;}
.ml300{margin-left: 300px;}
.mt10{margin-top: 10px;}
.mt30{margin-top: 30px;}
.mt45{margin-top: 45px;}
.mt60{margin-top: 60px;}
.mb10{margin-bottom: 10px;} 
.mb20{margin-bottom: 20px;}

/* 宽高度 */
.w100{width: 100px;}
.h100{height: 100px;}
.w200{width: 200px;}
.h200{height: 200px;}
.w250{width: 250px;}
.h250{height: 250px;}

/*背景色*/
.bgc{background-color:#aaaaaa;}
.body_bg{background-color:#fefefe;}


/* 边框 */
.bd{border:1px solid #bbb;}

/* 字体与颜色 */
.blue{color: #38a0eb;} 
.f22{font-size: 22px;} 
.gray{color: #999999;} 
.red{color: #ff2626}

/* header */
.header{height: 50px; border-bottom: solid 5px #8ac249; background: #5f7c8a; position: absolute;width: 100%;top:0;left: 0;}
.header_con{max-width: 1200px;}
.logo{float: left;width:200px;height: 50px;margin-left: 20px;background: url(../images/logo.png) no-repeat; text-indent: -9999px;}
.main_nav{float: right; }
.main_nav li{float: left;}
.main_nav a{font-size: 16px; display: block;line-height: 50px;padding: 0 40px; color: #ffffff;}
.main_nav .current a{background: #4f6c7a;}

.main_nav .menu_simple_title{ height:50px; background:none; }
.main_nav .menu_simple_div{ width: auto; }
.main_nav .menu_simple_hide{ width: 130px; border: 1px solid #5f7c8a; }
.menu_simple_hide a{ line-height:20px; padding:6px 10px; font-size:14px; }

.menu_box{position:absolute;width:210px;top:80px;left:0;padding-left:20px;}
.menu_box ul{ width:210px; background:none; }
.menu_box ul a{ color: #3f3f3f; border-left:2px solid #f5f5f5; }
.menu_box ul a:hover,.menu_box ul a.selected{ border-left:2px solid #38a0eb; background:#ededed; }
.menu_box .level0>a{ font-size:16px; }
/* main */
.main{max-width: 1200px; margin: 0 auto;}

/* sidebar */
.sidebar{float: left; width: 220px;margin-left: -240px;}
.side_nav{margin-top: 30px;}
.side_nav .main_item{ padding-left: 20px; font-size: 16px; height: 40px; line-height: 40px;}
.sub_nav li{margin-bottom: 5px;}
.sub_nav a{ display: block; height: 30px; line-height: 30px; padding-left:40px;}
.sub_nav a:hover{background: #f1f1f1;}
.sub_nav .current a{ border-left: solid 2px #38a0eb; padding-left: 38px; background: #ededed;}

/* primary */
.primary{min-height: 500px; padding:90px 20px 20px 20px; background: #ffffff;box-shadow: -3px 0 3px #ccc;}
.frame{min-height: 600px}
.themes{ position:fixed; top:200px; right:0px; }
.themes a{width:20px; height:20px; display:block; margin-top:3px; }

.comps_header{ padding-bottom: 10px;border-bottom: solid 1px #ededed;}
.comps_header .comps_name{ font-size: 24px; font-weight: normal;color: #222222;}
.comps_name small{ font-family: verdana; font-size: 12px; padding-left: 30px; color: #777777;}
.comps_header p{margin-top: 10px;}

.comps_summary{margin:50px 0;}
.comps_summary h3{ font-size: 22px;font-weight: normal; color: #222222;}
.exp,.tags{padding: 2px 4px; color: #d14; white-space: nowrap;  background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 3px; font-size: 12px; margin-right: 5px;line-height: 1;}
.exp{color: #d14 !important;}
.tags{color: #4f9fcf;}
.btn {display: inline-block;padding: 3px 10px; margin-bottom: 0; margin-left: 10px;font-size: 12px;line-height: 15px;vertical-align: middle;border-radius: 4px;border: 1px solid #bbb; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.detail_content{margin-bottom: 20px;}
.detail_content h4,.detail_content h5{ margin-bottom: 10px;font-size: 22px; font-weight: normal; color: #222222;}
.detail_content h5{font-size: 18px;}
.detail_content h5 .tags{margin-left: 10px;}
.detail_content h5 .vice_tit{display: none;}
.param_table_box{border-top: solid 2px #38a0eb;}
.param_table th{background: #f5f5f5;}
.param_table th,.param_table td{ min-width: 100px;border:solid 1px #ededed; padding:7px 7px 7px 10px; line-height: 22px;}
.param_table i{ color:#4f9fcf; }
pre.prettyprint{background-color: #f6f6f6;padding: 10px 5px 20px 5px !important;border: none !important; font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;line-height: 140%;overflow-x: auto;overflow-y: hidden;}
pre li{list-style-type: decimal;border-left: solid 2px #4C8800;padding-left: 10px;}
.comps_index_ul{ margin-top:30px; }
.comps_index_ul li{ line-height:25px; }
.comps_index_ul a{ color:#127dbc; }
.to_top{ position:fixed;bottom:100px;right:0; }

/* footer */
.footer{clear: both;}













