/* css reset */
html,body,ul,li,table,p,h1,h2,h3,h4,h5,dl,dt,dd,img,input,textarea,select,th,td,label{margin: 0; padding: 0;}
body{background-color: #ffffff; color: #666666; font-size: 14px; font-family: "microsoft yahei";}
ul,li{list-style: none;}
a{text-decoration: none; cursor:pointer; }
a,img{border: none;}
.fl{float: left;}.fr{float: right;}

.mid{width: 1000px; margin: 0 auto; *zoom:1;}
.mid::after{content: ' ';clear: both;height: 0;overflow: hidden;}
.header{height: 55px;background: #ffffff;box-shadow: 0 2px 3px #4e6b79;position: relative;z-index: 2;}
.logo{float: left;height: 32px;width: 104px; background: url(../images/logo_white.png) no-repeat; margin-top: 10px;}
.logo a{text-indent: -9999px;display: block;height: 100%;}
.nav{float: right;width: 500px;}
.nav li{float: left;padding:18px 25px 18px 25px;}
.nav a{color: #3b3b3b;font-size: 16px;line-height: 1;}
.nav a:hover{color: #54717f;}

.banner{height: 301px;background: #5f7c8a;position:absolute;width:100%; z-Index:-1;left:0;}
.mid2{height: 300px; background: #5f7c8a url(../images/banner_bg.png) right bottom no-repeat;overflow: hidden;color: #ffffff;}
.mid2 h2{font-size: 60px;font-family: verdana;font-weight: normal;margin-top: 45px;}
.mid2 p{font-size: 22px;margin-top: 20px;line-height: 1.5;}
.btn_area{margin-top: 20px;}
.mid2 .green_btn{width: 154px; height: 44px; background: url(../images/green_btn.png) no-repeat;display: inline-block;color: #ffffff;text-align: center;font-size: 18px;line-height: 42px;margin-right: 5px;}
.mid2 .green_btn:hover{background-position: -154px 0;}
.chapter{border-bottom:solid 1px #e6e6e6;padding: 70px 0 40px 0;overflow: hidden;height: 230px;}
.mid .chapter_tit{font:normal 24px/1 "microsoft yahei";margin-bottom: 30px;}
.mid .description{line-height: 2;font-size: 16px;}
.chapter .chapter_icon{width: 228px;height: 228px;background: url(../images/chapter_bg.jpg) no-repeat;position: relative;top: -20px;}
.chapter1 .chapter_icon{background-position: 0 0;}
.chapter2 .chapter_icon{background-position: -228px 0;}
.chapter3 .chapter_icon{background-position: -456px 0;}
.chapter4 .chapter_icon{background-position: -684px 0;}
.footer{text-align: center;padding: 20px;color: #999999;}
