.cloudjs_icon {
  background-image: url(../../images/icons_new.png);
}
.cloudjs_btn {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 7px;
  display: inline-block;
  font-family: Microsoft Yahei;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  zoom: 1;
  *width: 40px;
  *height: 24px;
  *line-height: 1;
  border: 1px solid #69418e;
  color: #ffffff;
  background-color: #8058a5;
}
a.cloudjs_btn {
  text-decoration: none;
}
.cloudjs_btn_white {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 7px;
  display: inline-block;
  font-family: Microsoft Yahei;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  zoom: 1;
  *width: 40px;
  *height: 24px;
  *line-height: 1;
  border: 1px solid #999999;
  color: #000000;
  background-color: #ffffff;
}
.cloudjs_icon:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.cloudjs_btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.cloudjs_btn_white:hover {
  border-color: #666666;
}
.cloudjs_btn_white_disable,
.cloudjs_btn_white:disabled {
  color: #aaaaaa;
  border-color: #cfcfcf;
  cursor: default;
}
.cloudjs_btn_disable,
.cloudjs_btn_disable:hover,
.cloudjs_btn:disabled {
  color: #aaaaaa;
  border-color: #cfcfcf;
  cursor: default;
  background: #ffffff;
}
.border {
  border: 1px solid #c6c6c6;
  box-shadow: inset 1px 2px 1px #f0f0f0;
}
.cloudjs_input {
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-indent: 5px;
  outline: none;
  border: 1px solid #c6c6c6;
  box-shadow: inset 1px 2px 1px #f0f0f0;
}
.cloudjs_input:focus {
  border: solid 1px #aaa;
}
.calendar_warpper {
  width: 260px;
  z-index: 9998;
  position: absolute;
  font-family: "microsoft yahei";
}
.calendar_panel {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px #ccc;
  position: relative;
  top: 0;
  z-index: 2;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  zoom: 1;
}
.calendar_form {
  text-align: center;
  float: left;
}
.calendar_title {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  text-align: center;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.calendar_panel .calendar_week {
  padding: 0;
  margin: 0;
}
.calendar_panel span {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 30px;
  width: 14.27%;
  height: 30px;
}
.calendar_form span {
  cursor: default;
  color: #555;
  font-size: 12px;
}
.calendar_title .curr_year,
.calendar_title .curr_mon {
  font: normal bold 14px/1 'microsoft yahei';
}
.calendar_panel .calendar_pre_mon,
.calendar_panel .calendar_next_mon {
  width: 30px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  opacity: .6;
  filter: alpha(opacity=60);
  text-align: center;
  zoom: 1;
  display: block;
  padding: 7px 0;
  line-height: 1;
  top: 0;
}
.calendar_panel i.cloudjs_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.calendar_panel .calendar_pre_mon:hover,
.calendar_panel .calendar_next_mon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.calendar_panel .calendar_pre_mon {
  left: 0;
}
.calendar_panel .calendar_pre_mon .cloudjs_icon {
  background-position: 0 0;
}
.calendar_panel .calendar_next_mon {
  right: 10px;
}
.calendar_panel .calendar_next_mon .cloudjs_icon {
  background-position: -16px 0;
}
.calendar_panel .calendar_days {
  padding: 0 5px;
  overflow: hidden;
  padding-bottom: 5px;
}
.calendar_panel .calendar_days a {
  background-color: #eee;
  float: left;
  width: 14.2857%;
  height: 23px;
  text-decoration: none;
  color: #666666;
  font-size: 12px;
  line-height: 23px;
  cursor: default;
}
.calendar_panel .calendar_days .disabled,
.calendar_panel .months .disabled {
  background-color: #ffffff;
  color: #aaa;
}
.calendar_panel .calendar_days .today,
.calendar_panel .currMonth {
  color: #8058a5;
  font-weight: bold;
}
.calendar_panel .calendar_days .calendar_range {
  background-color: #c0a2db;
}
.calendar_panel .calendar_days a:hover,
.calendar_panel .calendar_days .current,
.calendar_panel .months a:hover,
.months .calendar_current {
  background-color: #8058a5;
  color: #ffffff;
  border-radius: 3px;
  font-weight: normal;
}
.calendar_panel .calendar_days .disabled:hover,
.calendar_panel .months .disabled:hover {
  background-color: #ffffff;
  color: #aaa;
}
.calendar_panel .months {
  padding: 0 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.calendar_mon {
  background-color: #eee;
  float: left;
  width: 25%;
  height: 40px;
  text-decoration: none;
  color: #666666;
  font-size: 12px;
  line-height: 40px;
  cursor: default;
}
.calendar_panel .months .calendar_range {
  background-color: #c0a2db;
}
.calendar_panel .calendar_time_box {
  background: #f3f3f3;
  padding: 5px 3px 5px 5px;
  overflow: hidden;
  clear: both;
  border-top: solid 1px #dedede;
}
.calendar_panel .calendar_time_box .date_input,
.calendar_panel .calendar_time_box .multi_input {
  width: 40px;
  height: 20px;
  margin-right: 2px;
  box-shadow: inset 0 2px 1px #f0f0f0;
  border: solid 1px #ccc;
  line-height: 20px;
}
.calendar_panel .calendar_time_box .multi_input {
  width: 80px;
}
.calendar_panel .calendar_time_box .cloudjs_btn_white {
  float: right;
  margin-right: 10px;
}
.calendar_panel .calendar_time_box .cloudjs_btn {
  float: right;
}
.calendar_panel .calendar_time_box b {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-right: 5px;
}
.calendar_inputs_wrap {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.calendar_icon {
  position: absolute;
  right: 5px;
  top: 6px;
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}
