@charset "utf-8";
/* CSS Document */

.layout{
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
}
.layout-panel{
	position:absolute;
	overflow:hidden;
}
.layout-panel-east,.layout-panel-west{

	z-index:2;
}
.layout-panel-north,.layout-panel-south{
	z-index:3;
}
.layout-panel-north .panel-body{background:#36739A;}

.layout-expand{
	position:absolute;
	padding:0px;
	background:#D2E0F2;
	font-size:1px;
	cursor:pointer;
	z-index:1;
}
.layout-expand .panel-header{
	background:transparent;
	border-bottom-width:0px;
}
.layout-expand .panel-header .panel-tool{
	top: 5px;
}
.layout-expand .panel-body{
	overflow:hidden;
}
.layout-expand-over{
	background:#E1F0F2;
}
.layout-body{
	overflow:auto;
	background:#fff;
}
.layout-split-proxy-h{
	position:absolute;
	width:5px;
	background:#ccc;
	font-size:1px;
	cursor:e-resize;
	display:none;
	z-index:5;
}
.layout-split-proxy-v{
	position:absolute;
	height:5px;
	background:#ccc;
	font-size:1px;
	cursor:n-resize;
	display:none;
	z-index:5;
}
.layout-split-north{
	border-bottom:5px solid #D2E0F2;
}
.layout-split-south{
	border-top:5px solid #D2E0F2;
}
.layout-split-east{
	border-left:5px solid #D2E0F2;
}
.layout-split-west{
	border-right:5px solid #fff;
}
.layout-mask{
	position:absolute;
	background:#fafafa;
	filter:alpha(opacity=10);
	opacity:0.10;
	z-index:4;
}

a.l-btn{
	color:#444;
	padding:0 5px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	cursor:pointer;
	outline:none;
}


a.l-btn-disabled{
	color:#ccc;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}

a:hover.l-btn{
	background-position: bottom right;
	outline:none;
}


a:hover.l-btn-disabled{
	background-position:top right;
}

a.l-btn .l-btn-focus{
	outline:#0000FF dotted thin;
}
.panel{
	overflow:hidden;
	
}
.panel-header{
	padding:5px;
	line-height:15px;
	color:#4E7CDA;
	font-weight:bold;
	position:relative;
	border:1px solid #99BBE8;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #99BBE8;
}
.panel-body{
	padding:0;
	overflow-y:auto;
	overflow-x:hidden; 
	border:1px solid #dbdbdb;
	border-top-width:0px;
}
.layout-panel-center .panel-body{overflow-y:hidden;}

.panel-body>iframe{ 
	width:100%; 
	height:100%; 
}
.panel-body-noheader{
	border-top-width:1px;
}
.panel-body-noborder{
	border-width:0px;
}
.tabs-container{
	overflow:hidden;
	background:#fff;
}
.tabs-header{
	border:1px solid #dbdbdb;
	border-bottom:0px;
	background:#f8f8f8;
	position:relative;
	overflow:hidden;
	padding:15px 0 0 0;
}
.tabs-header-noborder{
	border:0px;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
.tabs-scroller-left,.tabs-scroller-right{
	position:absolute;
	top:0px;
	width:18px;
	height:44px;
	border:1px solid #dbdbdb;
	font-size:1px;
	display:none;
	cursor:pointer;
}
.tabs-scroller-left{
	left:0px;
	background:#c8d5e2 url('http://dianzhibao.com.cn/html/images/tabs_leftarrow.png') no-repeat 1px 17px;
}
.tabs-scroller-right{
	position:absolute;
	right:0;
	background:#c8d5e2 url('http://dianzhibao.com.cn/html/images/tabs_rightarrow.png') no-repeat 2px 17px;
}
.tabs-tool{
	position:absolute;
	top:0;
	border-bottom:1px solid #dbdbdb;
	overflow:hidden;
}
.tabs-header-plain .tabs-scroller-left{
	top:2px;
	height:25px!important;
	height:27px;
}
.tabs-header-plain .tabs-scroller-right{
	top:2px;
	height:25px!important;
	height:27px;
}

.tabs-scroller-over{
	background-color:#ECF9F9;
}
.tabs-wrap{
	position:relative;
	left:0px;
	overflow:hidden;
	width:100%;
	margin:0px;
	padding:0px;
}
.tabs-scrolling{
	margin-left:18px;
	margin-right:18px;
}
.tabs{
	list-style-type:none;
	height:35px;
	padding-left:8px;
	width:5000px;
	border-bottom:1px solid #dbdbdb;
}
.tabs li{
	float:left;
	display:inline-block;
	margin-left:6px;
	padding:0;
	position:relative;
}
.tabs li a.tabs-inner{
	border:1px solid #dbdbdb;
	border-bottom:0;
	display:inline-block;
	text-decoration:none;
	color:#504f4f;
	background:#f8f8f8;
	margin:0px;
	padding:0px 20px;
	height:34px;
	line-height:34px;
	text-align:center;
}
.tabs li a.tabs-inner:hover{
	background:#fff;
}
.tabs li.tabs-selected{
	border:0;
	border-top:4px solid #F6BF26;
	
}

.tabs li.tabs-selected a.tabs-inner{
	border-top:0;
	border-bottom:1px solid #fff;
	height:31px;
    line-height:31px;
	font-weight:bold;
	background:#fff;
	outline: none;
}
.tabs li.tabs-selected a:hover.tabs-inner{
	cursor:default;
	pointer:default;
}
.tabs-p-tool{
	position:absolute;
	right:16px;
	top:7px;
	display:block;
}
.tabs-p-tool a{
	display:inline-block;
	font-size:1px;
	width:12px;
	height:12px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.tabs-p-tool a:hover{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#dbdbdb;
}
.tabs-with-icon{
	font-size:13px;
	font-family:微软雅黑;
	max-width:160px;
	height:30px;
	display:inline-block;
	white-space:nowrap;		/*FF*/
	white-space:normal \9;	/*IE*/
	*white-space:nowrap;	/*IE7*/
	text-overflow:ellipsis;
	word-wrap:break-word;
	overflow:hidden;
	cursor:default;
}
.tabs-with-icon>span{
	color:#999999;
}
.tabs-icon{
	position:absolute;
	width:16px;
	height:16px;
	left:10px;
	top:6px;
}
.tabs li .tabs-with-icon{ padding-left:0; }
.tabs li .tabs-icon{ display:none; }
.tabs li.tabs-selected .tabs-icon{ cursor:pointer; display:block; }
.tabs li.tabs-selected .tabs-with-icon{ padding-left:10px; }

.tabs-closable{
	padding-right:8px;
}
.tabs li a.tabs-close{
	position:absolute;
	font-size:1px;
	display:block;
	padding:0px;
	width:11px;
	height:11px;
	top:13px;
	right:12px;
	background:url('http://dianzhibao.com.cn/html/images/icon.png') no-repeat 0 -210px;
}
.tabs li.tabs-selected a.tabs-close{
    top:10px;	
}
.tabs li a:hover.tabs-close{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#dbdbdb;
}


.tabs-panels{
	border:1px solid #dbdbdb;
	border-top:0px;
	overflow:hidden;
}
.tabs-panels-noborder{
	border:0px;
}
.icon-reload{
	background:url('http://dianzhibao.com.cn/html/images/icon.png') no-repeat 0 -182px;
}
.icon-no{
	width:22px;
	height:22px;
	display:inline-block;
	background:url('http://dianzhibao.com.cn/html/images/icon.png') no-repeat 0 -240px;
}
#icon-no-png{ margin-top:16px; }
